#app_root {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

header {
    text-align: center;
    border: 3px dotted black;
}

main {
    min-height: 1120px;
}

footer {
    text-align: center;
    background-color: red;
}

.page_container {
    padding: 64px;
}

.section_container {
    border: 3px solid black;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    padding: 36px;
    margin: 36px 0;
}

.inventory_item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item_title {
    height: 50px;
}

.basic_container_column {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
}

.basic_container_row {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.align_center {
    align-items: center;
}