h1 {
    color: purple;
}

#pokemon-list {
    background-color: lightgray;
    width: 400px;
}

.Squirtle {
    color: blue;
}

.Bulbasaur {
    color: green;
}

.Charmander {
    color: red;
}

.Pikachu {
    color: yellow;
}